<section class="container">
    <form novalidate (ngSubmit)="salvar()" [formGroup]="formGroupCadastro"> 
    
      <h2 class="formulario__titulo">Pessoa</h2>
      <div class= wrapper>

<div class="form-group">
    <label class="form-field__label" for="email">Email: </label>
    <input class="form-control" id="email" type="text" formControlName="email">
  </div>

<div class="form-group">
    <label class="form-field__label" for="cpf">CPF: </label>
    <input class="form-control" id="cpf" type="text" formControlName="cpf" cpf [textMask]="{mask: MASKS.cpf.textMask}"      
    [ngClass]="{'is-invalid': displayMessage.cpf}"/>

    <span class="text-danger" *ngIf="displayMessage.cpf">
      <p [innerHTML]="displayMessage.cpf"></p>
    </span> 
  </div>
</div>